@using EPR.Calculator.Frontend.Constants;
@using EPR.Calculator.Frontend.ViewModels;
@model ParameterUploadViewModel;

@{
    Layout = "_Layout";
    var errors = Model.Errors;
    var BackLink = "DefaultParameters";
  
}

<partial name="_BackLinkPartial" model="(BackLink, Model.CurrentUser)" />


@if (errors != null)
{
    <partial name="_ErrorBannerPartial" model="errors" />
}
@if (errors != null)
{
    <h1 class="govuk-heading-l">Upload the file again</h1>
}
else
{
    <h1 class="govuk-heading-l">Upload new default calculator parameters</h1>

    <h2 class="govuk-heading-m">Before you upload your file</h2>
}

<div class="govuk-form-group">
    <p class="govuk-body">Make sure you're using the latest version of the <a class="govuk-link" href="@Url.Action("DownloadCsvTemplate", "ParameterUploadFile")">default parameters spreadsheet template</a>.</p>
</div>

@if (errors == null)
{
    <h2 class="govuk-heading-m"><label for="file-upload-1">Upload a file</label></h2>
}

<partial name="_UploadFileInformationPartial" />


@using (Html.BeginForm("Upload", "ParameterUploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="@(errors != null ? "govuk-form-group govuk-form-group--error": "govuk-form-group")">
        @if (errors != null)
        {
           
            <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @errors.ErrorMessage
        </p>
        }

        <input class="govuk-file-upload form-control" id="file-upload-1" name="fileUpload" validation-class="govuk-input-error" validation-for="file-upload-1" type="file">
    </div>

    <button id="btnUploadFile" type="submit" class="govuk-button" data-module="govuk-button">
        Upload file
    </button>
}
