@using EPR.Calculator.Frontend.ViewModels
@model List<IGrouping<string, LocalAuthorityViewModel>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p></p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-body-s govuk-!-margin-top-4">
        <div class="account-info">
            <span class="your-name" id="bannerUserName">Jamie Roberts</span>
            <a class="account-link" href="details" id="signout-link">Sign out</a>
        </div>
    </div>
</div>

<div class="govuk-grid-row dashboard-page">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
        @if (Model == null)
        {
            <p class="govuk-body"></p>
        }
        else
        {
            <dl class="govuk-summary-list">
                @foreach (var la in Model)
                {
                    <h2 class="govuk-heading-l govuk-!-margin-top-3">@la.Key</h2>
                    @foreach (var data in la)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @data.Material
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                @data.TotalCost
                            </dd>
                        </div>
                    }
                }
            </dl>
        }
    </div>
</div>
