@{
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Placeholder for local authority disposal costs</h2>
    </div>
</div>
