@using EPR.Calculator.Frontend.ViewModels
@model List<IGrouping<string, LocalAuthorityViewModel>>

@{
    var BackLink = "Dashboard";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BackLinkPartial" model="BackLink" />

<div class="govuk-grid-row dashboard-page">    
    @if (Model == null)
    {
        <partial name="_LapcapDataNotExistsPartial" />
    }
    else
    {
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
            <dl class="govuk-summary-list">
                @foreach (var la in Model)
                {
                    <h2 class="govuk-heading-l govuk-!-margin-top-3">@la.Key</h2>
                    @foreach (var data in la)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @data.Material
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                @data.TotalCost
                            </dd>
                        </div>
                    }
                }
            </dl>
        </div>
    }
</div>

