@{
    ViewData["Title"] = "Run the service administrator calculator - Upload CSV Error";
    var validationErrorList = ViewBag.ValidationErrors;
    var errorList = ViewBag.Errors;
    var BackLink = "LocalAuthorityDisposalCosts";
    var defaultError = ViewBag.DefaultError;
}

<partial name="_BackLinkPartial" model="BackLink" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (validationErrorList != null)
        {
            <partial name="_ProblemWithUploadPartial" model="validationErrorList" />
        }

       @*  @if (defaultError != null)
        {
            <partial name="_ErrorBannerPartial" model="defaultError" />
        } *@


        <h1 class="govuk-heading-l">Upload new local authority disposal costs</h1>

        @if (errorList != null)
        {
            <partial name="_ValidationErrorsListPartial" model="errorList" />
        }

        <div>


            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">
                    <label class="govuk-label govuk-label--m" for="org-details" aria-describedby="organisation-file-hint">
                        Upload a file
                    </label>
                </h2>

                <p class="govuk-body">The file must be:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>smaller than 2MB</li>
                    <li>in CSV format</li>
                </ul>
                <p class="govuk-body">It may take a few minutes for your file to upload - do not close the window while the file is uploading.</p>

            </div>

            @using (Html.BeginForm("Upload", "LocalAuthorityUploadFileError", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <partial name="_UploadFileButtonPartial" />
            }
        </div>
    </div>
</div>
