@{
    ViewData["Title"] = "Run the service administrator calculator - Upload CSV Error";
    var validationErrorList = ViewBag.ValidationErrors;
    var errorList = ViewBag.Errors;
    var BackLink = "LocalAuthorityDisposalCosts";
    var defaultError = ViewBag.DefaultError;
}

<partial name="_BackLinkPartial" model="BackLink" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (validationErrorList != null)
        {
            <partial name="_ProblemWithUploadPartial" model="validationErrorList" />
        }

        @if (defaultError != null)
        {
            <partial name="_ErrorBannerPartial" model="defaultError" />
        }

        <h1 class="govuk-heading-l">Upload new local authority disposal costs</h1>

        @if (errorList != null)
        {
            <partial name="_ValidationErrorsListPartial" model="errorList" />
        }

        <div>
            <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="file-upload-1" aria-describedby="file-upload-1">
                Upload the file again
            </label>

            @using (Html.BeginForm("Upload", "LocalAuthorityUploadFileError", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <partial name="_UploadFileButtonPartial" />
            }
        </div>
    </div>
</div>
