@model EPR.Calculator.Frontend.Components.UserNav.UserNavViewModel

<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full epr-user-nav">
        @if (Model.BackLinkUrl is not null)
        {
            <a href="@Model.BackLinkUrl"
               class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                Back
            </a>
        }
        <nav aria-label="Account" class="epr-user-nav__account govuk-body-s">
            <span>@Model.CurrentUser</span>
            <a href="@Url.Action("SignOut", "Account", new { area = "MicrosoftIdentity" })"
               class="govuk-link govuk-link--no-visited-state">
                Sign out
            </a>
        </nav>
    </div>
</div>
