################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/EPR.Calculator.Frontend
/src/.vs/ProjectEvaluation
/src/EPR.Calculator.Frontend.UnitTests/bin/Debug/net8.0
/src/EPR.Calculator.Frontend.UnitTests/obj
/src/EPR.Calculator.Frontend.Common/bin/Debug/net8.0
/src/EPR.Calculator.Frontend.Common/obj
/.vs
/src/EPR.Calculator.Frontend.Common/bin/Release/net8.0
/src/EPR.Calculator.Frontend.UnitTests/bin/Release/net8.0
/src/EPR.Calculator.Frontend.Common.UnitTests/bin/Debug/net8.0
/src/EPR.Calculator.Frontend.Common.UnitTests/obj
/src/EPR.Calculator.Frontend.Common.UnitTests/bin/Release/net8.0
**/appsettings.development.json