@model string;

<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
        <a href="@Url.Action("Index", @Model)" class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-body-s account-info" style="margin-top:20px;">
        <span class="your-name" id="bannerUserName">Jamie Roberts</span> &ensp;
        <a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>

</div>