@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BackLinkViewModel

@{
    var url = Model.RunId != null
        ? $"~/{Model.BackLink}/{Model.RunId}"
        : $"~/{Model.BackLink}";
    var showBackLink = !string.IsNullOrEmpty(Model.BackLink);
}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
        @if (showBackLink)
        {
            <a href="@Url.Content(url)" class="govuk-back-link">Back</a>
        }
        else
        {
            <a class="govuk-back-link" style="visibility: hidden;" aria-hidden="true">&nbsp;</a>
        }
    </div>
    <div class="govuk-grid-column-one-quarter govuk-body-s govuk-!-margin-top-4">
        <div class="epr-!-account-info">
            <span class="your-name" id="bannerUserName">@Model.CurrentUser</span>
            <a asp-controller="@ControllerNames.Account" asp-action="@ActionNames.Signout" asp-area="MicrosoftIdentity" class="account-link">Sign out</a>
        </div>
    </div>

</div>