@model BackLinkPartialViewModel
@{
    var linkText = BillingInstructionConstants.GenerateBillingFile;

    var link = Model.BackLink != null
        ? $"<a href='{Url.Content($"~/{Model.BackLink}/{Model.RunId}")}' class='govuk-link'>{linkText}</a>"
        : linkText;

    var message = string.Format(BillingInstructionConstants.BillingFileOutofDateBanner, link);
}

<div class="govuk-notification-banner govuk-notification-banner--failure" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" style="max-width: fit-content;">
            @Html.Raw(message)
        </h3>
    </div>
</div>