@using EPR.Calculator.Frontend.ViewModels
@model IEnumerable<CalculationRunViewModel>

@if (Model == null)
{
    <p class="govuk-body">There are no calculations for this financial year.</p>
}
else
{
    <dl class="govuk-summary-list">
        @if (Model != null)
        {
            foreach (var run in Model)
            {
                @Html.Partial("_TempPartial", run)
            }
        }
    </dl>
}