<div class="govuk-grid-row">
	<div class="govuk-body-s govuk-!-margin-top-4 govuk-!-padding-right-3 epr-!-account-info">
		<span class="your-name" id="bannerUserName">@Model</span>
		<a asp-controller="Account" asp-action="Signout" asp-area="MicrosoftIdentity" class="account-link">Sign out</a>
	</div>
</div>