<div class="govuk-notification-banner govuk-notification-banner--warning" role="alert" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" style="max-width: fit-content;">
            @Html.Raw("The billing instructions have changed, so the draft billing file is now out of date. You must first generate a new draft billing file before it can be sent to the FSS.")
        </h3>
    </div>
</div>