
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
    <br>
    <span class="govuk-caption-xl">Local authority disposal cost data has not been updated yet. </span><br>
    <hr>
    <p class="govuk-body">You will need to download the most recent local authority disposal cost file and upload it here before you can run any calculations.</p>
    <br></br>

    <form action="/form-handler" method="post" novalidate="">
        <input type="hidden" name="answers-checked" value="true">
        <div class="govuk-button-group">
            <a href="@Url.Action("Index", "Dashboard")" class="govuk-button" type="submit">Upload local authority disposal costs</a>
            <a class="govuk-link" href="@Url.Action("Index", "Dashboard")">Return to the dashboard</a>
        </div>
    </form>
</div>
