@{
    ViewData["Title"] = "Run the service administrator calculator - Upload CSV Error";
    var validationErrors = ViewBag.ValidationErrors;
    var errors = ViewBag.Errors;
    var BackLink = "UploadFile";
    var defaultError = ViewBag.DefaultError;
}

<partial name="_BackLinkPartial" model="BackLink" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (validationErrors != null)
        {
            <partial name="_ProblemWithUploadPartial" model="validationErrors" />
        }

        @if (defaultError != null)
        {
            <partial name="_ErrorBannerPartial" model="defaultError" />
        }

        @if (errors != null)
        {
            <partial name="_ValidationErrorsListPartial" model="errors" />
        }

        <div>
            <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="file-upload-1" aria-describedby="file-upload-1">
                Upload the file again
            </label>

            @using (Html.BeginForm("Upload", "ParameterUploadFileError", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <partial name="_UploadFileButtonPartial" />
            }
        </div>
    </div>
</div>
