@using EPR.Calculator.Frontend.ViewModels;
@model ParameterUploadViewModel;

@{
    ViewData["Title"] = "Run the service administrator calculator - Upload CSV Error";
    var validationErrors = Model.ValidationErrors;
    var errors = Model.ParamterErrors;
    var BackLink = "ParameterUploadFile";
    var defaultError = Model.Errors;
}

<partial name="_BackLinkPartial" model="(BackLink, Model.CurrentUser)" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (validationErrors != null)
        {
            <partial name="_ProblemWithUploadPartial" model="validationErrors" />
        }

        @if (defaultError != null)
        {
            <partial name="_ErrorBannerPartial" model="defaultError" />
        }

        @if (errors != null)
        {
            <h2 class="govuk-heading-s">You must fix the following errors before you can upload the file:</h2>

            <ol id="dataErrors" class="govuk-list govuk-list--number">
                @foreach (var error in errors)
                {
                    <li>@error.Message</li>
                }
            </ol>
        }

        <div>
            <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="file-upload-1" aria-describedby="file-upload-1">
                Upload the file again
            </label>

            @using (Html.BeginForm("Upload", "ParameterUploadFileError", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <partial name="_ParameterUploadFileButtonPartial" />
            }
        </div>
    </div>
</div>
