@{
    ViewData["Title"] = "Run the service administrator calculator - Upload CSV Error";
}

<div>
    <h3>Upload the file again</h3>
    <p>Make sure you're using the latest version of the <a href="">default parameter spreadsheet template</a></p>
    <p>The file must be:</p>
    <ul>
        <li>small than 50KB</li>
        <li>in CSV format</li>
    </ul>
    <p>It may take a few minutes for your file to upload - do not close the window while the file is uploading.</p>
    <div class="govuk-form-group">
        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Upload file
    </button>
</div>
