@{
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/upload.js"></script>

<h1 class="govuk-heading-l">Uploading file and validating data</h1>
<div class="govuk-form-group">
    <p class="govuk-body">This may take a few minutes. We'll refresh the page automatically until it is done.</p>
    <br />
    <p class="govuk-body">Do not close the page and do not refresh it yourself.</p>
    <p>
        <img src="../images/spinner.gif" width="50px" alt="spinning wheel to show the file is loading">
    </p>
</div>