@using EPR.Calculator.Frontend.Enums
@using EPR.Calculator.Frontend.Extensions
@model BillingInstructionsViewModel

<partial name="_BackLinkPartial" model="(Model.BackLink, Model.CurrentUser)" />

<div class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content">
    <h1 class="govuk-visually-hidden">Select organisations to process</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <br>
            <span class="govuk-caption-l">@Model.CalculationRun.Name</span>
            <h1 class="govuk-heading-l">Confirm billing instructions</h1>

            @using (Html.BeginRouteForm(routeName: RouteNames.BillingInstructionsIndex, routeValues: new { calculationRunId = Model.CalculationRun.Id }, method: FormMethod.Get))
            {
                <p class="govuk-body-m">
                    These billing instructions match those in the results file. Use this screen to confirm
                    which instructions you want to accept or reject.
                </p>
                <p class="govuk-body-m">Your changes are saved automatically, so you can return to this screen at any time. Once all instructions have been accepted or rejected, you’ll be able to generate a draft billing file. If you reject any instructions, you’ll need to give a reason on the next screen.</p>

                <div class="search-panel">
                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Search for an organisation</h2>
                        <label class="govuk-label" for="OrganisationId">
                            Enter an organisation ID to find a billing instruction.
                        </label>

                        <div class="search-input-group">
                            <input class="govuk-input"
                                   id="OrganisationId"
                                   name="OrganisationId"
                                   type="search"
                                   style="flex: 1;"
                                   value="@Model.TablePaginationModel?.RouteValues?["organisationId"]" />
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="padding: 0px 20px; clear: both;">
        @using (Html.BeginForm(ActionNames.ProcessSelection, null, FormMethod.Post))
        {
            <partial name="_OrganisationTable" model="Model" />
        }

        <!-- Record Pagination -->
        <partial name="_Pagination" model="Model.TablePaginationModel" />
        <!-- End Record Pagination -->

        <div style="clear: both;"></div>
        <div style="margin-top: 60px;">
            <h2 class="govuk-heading-m">Update billing instructions</h2>
            @using (Html.BeginForm(ActionNames.ClearSelection, "BillingInstructions", FormMethod.Post))
            {
                <button class="govuk-button govuk-button--secondary" asp-action="ClearSelection" asp-controller="BillingInstructions" type="submit" data-module="govuk-button" id="clear-selection-btn">
                    Clear selection
                </button>
                <input type="hidden" name="CalculationRunId" value="@Model.CalculationRun.Id" />
            }
        </div>
    </div>
</div>