@using EPR.Calculator.Frontend.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@model DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<partial name="_CurrentUserPartial" model="@Model.CurrentUser" />

<div class="govuk-grid-row dashboard-page">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Calculate packaging payments</h1>
        <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-6">Set up and run packaging payment calculations, and view past runs by financial year.</p>
        <div class="govuk-grid-row tile-group">
            <div class="govuk-grid-column-one-third tile">
                <a href="/ViewDefaultParameters" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Manage default parameters</span>
                    <span class="govuk-body more-info">View or update the parameters</span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third tile">
                <a href="/ViewLocalAuthorityDisposalCosts" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Manage local authority disposal costs</span>
                    <span class="govuk-body more-info">View or update disposal costs</span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third tile">
                <a href="/RunANewCalculation" class="govuk-link govuk-link--no-visited-state">
                    <span class="govuk-heading-m heading">Run the calculator</span>
                    <span class="govuk-body more-info">Use the default parameters to run the calculator</span>
                </a>
            </div>
        </div>

        <div class="govuk-grid-row header-container">
            <div class="govuk-grid-column-two-third caption-text">
                <h2 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-0">Calculation runs</h2>
                <p class="govuk-body-s">View and select a calculation run. You can also filter by financial year to find previous runs.</p>
            </div>
            <div class="govuk-grid-column-one-third filter-container">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="financial-year-list">
                        Select a financial year
                    </label>
                    @Html.DropDownListFor(
                        m => m.FinancialYear,
                        Model.FinancialYearSelectList ?? new List<SelectListItem>(),
                        new { @class = "govuk-select", id = "financial-year-list" }
                    )
                </div>
            </div>
        </div>
        <div id="calculation-runs">
            @await Html.PartialAsync("_CalculationRunsPartial", Model.Calculations)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {        
        var financialYearListDropdown = $('#financial-year-list');
        
        financialYearListDropdown.change(function () {
            var selectedFinancialYear = $(this).val();
            $.ajax({
                url: '@Url.Action("GetCalculations", ControllerNames.Dashboard)',
                type: 'GET',
                data: { financialYear: selectedFinancialYear },
                success: function (data) {
                    $('#calculation-runs').html(data);
                },
                error: function (error) {
                    console.warn(`Unable to get the calculator runs for the financial year ${selectedFinancialYear}`);
                    window.location.href = '/StandardError';
                }
            });
        });
    });
</script>
