@{
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Placeholder for standard error page</h2>
        <p class="govuk-body">Please note, this is a placeholder page and not finalised yet.</p>
    </div>
</div>