html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.header-left-cell {
    width: 420px;
    text-align: left;
    padding: 10px 20px 10px 0;
    border-bottom: 0;
}

.header-right-cell {
    width: 60px;
    text-align: left;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
    border-bottom: 0;
}

.col-select {
    width: 60px;
}

.col-org-name {
    width: 170px;
}

.col-org-id {
    width: 160px;
}

.col-billing {
    width: 160px;
}

.col-invoice {
    width: 140px;
}

.col-status {
    width: 140px;
}

.record-checkbox {
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: 1px solid #000;
}

.vertical-middle {
    vertical-align: middle;
}

.search-panel {
    background-color: #f3f2f1;
    padding: 20px;
    border: 1px solid #b1b4b6;
}

.search-input-group {
    display: flex;
    gap: 10px;
}

.govuk-link--selected-status {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 4px;
}

.filter-by-status {
    margin-top: 0px;
}

.filter-by-status__cell {
    width: 20px;
    text-align: left;
    padding: 10px 30px 10px 0px;
    vertical-align: top;
    border: none !important;
}

.col-billing-status {
    min-width: 120px;
    line-height: 1.25;
    font-size:1rem;
}

.width-max-content {
    width: max-content;
}

.govuk-button--secondary[disabled] {
    opacity: 0.65; /*Fix accessibility contrast issue*/
}

.govuk-notification-banner__heading--large {
    font-size: 22px;
    max-width: 100%;
    word-wrap: break-word;
    line-height:1.25;
    font-size:1rem;
}