.account-info {
    text-align: right;
}

.dashboard-page {
    &.card {
        background-color: #f3f2f1;
        padding: 30px 30px 10px 30px;
        min-height: 265px;
        border-bottom: 5px solid #1d70B8;
    }
}
