@using EPR.Calculator.Frontend.ViewModels
@model BillingFileSuccessViewModel

@{
	Layout = "_Layout";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<p></p>
	</div>
	<div class="govuk-grid-column-one-quarter govuk-body-s govuk-!-margin-top-4">
		<div class="account-info">
			<span class="your-name" id="bannerUserName">@Model.CurrentUser</span>
			<a asp-controller="Account" asp-action="Signout" asp-area="MicrosoftIdentity" class="account-link">Sign out</a>
		</div>
	</div>
</div>

<partial name="_ConfirmationPartial" model="@Model.ConfirmationViewModel" />