
@{

    Layout = "~/Views/Shared/_MudBlazorLayout.cshtml";
}

<div>  
    <component type="typeof(EPR.Calculator.Frontend.Components.Grid)"  render-mode=ServerPrerendered />
</div>
<script src="_framework/blazor.server.js"> </script>
